BeautifulSoup==3.2.1
Pillow==2.4.0
PyYAML==3.11
chardet==2.2.1
cssselect==0.9.1
decorator==3.4.0
jsonpath-rw==1.3.0
lxml==3.3.5
newslynx-core==0.0.1
newspaper==0.0.6
nltk==2.0.4
ply==3.4
pytz==2014.2
readability-lxml==0.3.0.3
requests==2.2.1
six==1.6.1
slugify==0.0.1
tldextract==1.3.1
wsgiref==0.1.2
